In [ ]:
'''Q1. What is a database? Differentiate between SQL and NoSQL databases.
Ans- 1) A database is an organized collection of data that is stored and managed in a computer 
system. It is designed to allow for efficient retrieval, updating, and querying of data. 
Databases are used in a variety of applications, such as online shopping websites, social media
platforms, financial systems, and many more.

Difference between SQL and N0SQL
SQL Databases:

Structured Query Language (SQL) databases are relational databases that store data in tables.
They use a predefined schema to determine the structure of the data and how it relates to other 
data in the database.
SQL databases are typically used for applications that require complex queries and transactions,
such as financial systems, inventory management, and customer relationship management (CRM)
systems.
Examples of SQL databases include MySQL, Oracle, Microsoft SQL Server, and PostgreSQL.

NoSQL Databases:

NoSQL databases are non-relational databases that store data in a variety of formats, including
key-value pairs, documents, and graphs.
They do not use a predefined schema, which means they can handle unstructured and 
semi-structured data more easily than SQL databases.
NoSQL databases are typically used for applications that require fast and flexible access to
data, such as social media platforms, content management systems, and IoT (Internet of Things) 
applications.
Examples of NoSQL databases include MongoDB, Cassandra, Couchbase, and Amazon DynamoDB.

Q2.What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans-DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language)
that is used to define and manage the structure of a database. DDL commands are used to create,
modify, and delete database objects such as tables, indexes, and views.
1)CREATE: This command is used to create a new database object such as a table, view, index, or
stored procedure. For example, to create a new table named "employees", we can use the following
SQL statement:
CREATE TABLE employees (
   id INT PRIMARY KEY,
   name VARCHAR(50),
   age INT,
   department VARCHAR(50)
);
2)DROP: This command is used to delete an existing database object. For example, to delete the 
"employees" table that we just created, we can use the following SQL statement:
DROP TABLE employees;
3)ALTER: This command is used to modify the structure of an existing database object.
For example, to add a new column named "salary" to the "employees" table, we can use the
following SQL statement:
ALTER TABLE employees ADD salary INT;
4)TRUNCATE: This command is used to delete all data from an existing table while keeping its
structure intact. For example, to delete all data from the "employees" table, we can use the 
following SQL statement:
TRUNCATE TABLE employees;
Q3.What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans-DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language)
that INSERT: This command is used to add new data to a table. For example, to insert a new record into the "employees" table that we created in the previous example, we can use the following SQL statement:is used to manipulate the data within a database. DML commands are used to insert, update,
and delete data in a database.
1)INSERT: This command is used to add new data to a table. For example, to insert a new record 
into the "employees" table that we created in the previous example, we can use the following SQL
statement:
INSERT INTO employees (id, name, age, department, salary) VALUES (1, 'John', 30, 'Sales', 50000);
2)UPDATE: This command is used to modify existing data in a table. For example, to update the 
salary of the employee with an id of 1, we can use the following SQL statement:
UPDATE employees SET salary = 55000 WHERE id = 1;
3)DELETE: This command is used to remove data from a table. For example, to delete the record 
for the employee with an id of 1, we can use the following SQL statement:
DELETE FROM employees WHERE id = 1;

Q4.What is DQL? Explain SELECT with an example.

Ans-DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that 
is used to retrieve data from a database. DQL commands are used to query data from a table or
view.
1)SELECT statement: This command is used to retrieve data from one or more tables in a database.
For example, to retrieve all the records from the "employees" table that we created in the 
previous example, we can use the following SQL statement:
SELECT * FROM employees;


Q5.Explain Primary Key and Foreign Key.

Ans-
In a relational database, a primary key and a foreign key are used to establish relationships
between tables. A primary key is a column or a set of columns in a table that uniquely
identifies each row in the table. A foreign key is a column or a set of columns in one table
that refers to the primary key of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans-import pymysql

# Connect to the database
conn = pymysql.connect(
    host='localhost',
    user='username',
    password='password',
    db='database_name'
)

# Create a cursor object
cursor = conn.cursor()

# Execute a query
cursor.execute("SELECT * FROM table_name")

# Fetch the results
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

# Close the connection
conn.close()

1)The cursor() method creates a cursor object, which is used to interact with the database. 
The cursor object is used to execute SQL statements and fetch results.
2)

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans-

'''